* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;


}


:root {
    --color: rgb(138, 43, 226);
    --white: rgb(255, 255, 255);
    --light-color: rgba(137, 43, 226, 0.233);
    --btn1-background: rgb(94, 15, 168);
    --btn2-border: 1px solid rgba(137, 43, 226, 0.5);
    --img: hue-rotate(0deg);
    --img2: hue(0deg);
    --img3: var(--img2);
    --box-shadow: inset 5px 5px 12px var(--white), 5px 5px 12px rgba(0, 0, 0, .16);
    --box-shadow2: inset 5px 5px 12px rgba(130, 75, 196, 0.438), 5px 5px 12px rgba(0, 0, 0, .16);
    --title: rgb(188, 138, 234);






    /* blue */

    /* --color: rgb(43, 162, 226);
    --white: rgb(255, 255, 255);
    --light-color: rgba(43, 162, 226, 0.233);
    --btn1-background: rgb(15, 122, 168);
    --btn2-border: 1px solid rgba(43, 186, 226, 0.5);
    --img: hue-rotate(-75deg);
    --img2: hue-rotate(280deg) brightness(130%) drop-shadow(16px 16px 20px var(--color));
       --img3: var(--img2);
    --box-shadow: inset 5px 5px 12px var(--white), 5px 5px 12px rgba(0, 0, 0, .16); 
    --box-shadow2: inset 5px 5px 12px rgba(130, 75, 196, 0.438), 5px 5px 12px rgba(0, 0, 0, .16);
    --title :var(--color); */



    /* red */
    /* --color: rgb(194, 9, 9);
    --white: rgb(250, 242, 242);
    --light-color: rgba(189, 46, 46, 0.39);
    --btn1-background: rgb(170, 7, 7);
    --btn2-border: 1px solid rgba(226, 43, 43, 0.5);
    --img: hue-rotate(100deg) brightness(120%) drop-shadow(16px 16px 20px var(--color));
    --img2: hue-rotate(70deg) brightness(130%) drop-shadow(16px 16px 20px var(--color));
    --img3: var(--img2);
    --box-shadow: inset 5px 5px 12px var(--white), 5px 5px 12px rgba(0, 0, 0, .16);
    --box-shadow2: 5px 5px 12px rgba(196, 75, 75, 0.438), 5px 5px 12px rgba(0, 0, 0, .16);
    --title: rgb(237, 165, 165); */

    /* green */
    /* --color: rgb(9, 194, 52);
    --white: rgb(250, 242, 242);
    --light-color: rgba(90, 201, 35, 0.39);
    --btn1-background: rgb(8, 153, 10);
    --btn2-border: 1px solid rgba(64, 226, 43, 0.5);
    --img: hue-rotate(200deg) brightness(110%);
    --img2: hue-rotate(180deg) brightness(130%) drop-shadow(16px 16px 20px rgba(94, 189, 46, 0.63));
    --img3: var(--img2) brightness(140%);
    --box-shadow: inset 5px 5px 12px var(--white), 5px 5px 12px rgba(0, 0, 0, .16);
    --box-shadow2: 5px 5px 12px rgba(75, 196, 103, 0.438), 5px 5px 12px rgba(0, 0, 0, .16);
    --title: var(--color); */

    /* orange */
    /* --color: rgb(194, 89, 9);
    --white: rgb(250, 242, 242);
    --light-color: rgba(201, 110, 35, 0.39);
    --btn1-background: rgb(212, 116, 25);
    --btn2-border: 1px solid rgba(226, 119, 43, 0.5);
    --img: hue-rotate(120deg) brightness(110%);
    --img2: hue-rotate(110deg) brightness(130%) drop-shadow(16px 16px 20px rgba(176, 118, 32, 0.63));
    --img3: var(--img2) brightness(140%);
    --box-shadow: inset 5px 5px 12px var(--white), 5px 5px 12px rgba(0, 0, 0, .16);
    --box-shadow2: 5px 5px 12px rgba(250, 195, 75, 0.438), 5px 5px 12px rgba(0, 0, 0, .16);
    --title: var(--color); */
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: fantasy;
}

.btn1 {
    width: 10em;
    background-color: var(--color);
    border: none;
    outline: none;
    color: aliceblue;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 20px;

}

.btn1:hover {
    background-color: var(--btn1-background);
    box-shadow: var(--box-shadow2);
    transition: .2s ease;
}

.btn2 {
    border: var(--btn2-border);
    outline: none;
    color: var(--color);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    background-color: transparent;


}

.btn2:hover {
    border: none;
    box-shadow: var(--box-shadow);
    transition: .2s ease;
}

/* /////////////////////////////////////// Header */
.header,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 5px 5px 12px rgb(255, 255, 255), 5px 5px 12px rgba(0, 0, 0, .16); */
    font-family: fantasy;
    width: 100vw;
    position: fixed;
    background-color: var(--white);
    z-index: 1;
}

.header li {
    list-style-type: none;
    cursor: pointer;
}

.header li:hover {
    border-bottom: 1px solid var(--color);
    padding-bottom: 2px;
}

.logo {
    width: 20%;
}

.logo span {
    color: var(--color);
    font-size: 2em;
}

.tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55%;
}

.tabs li a {
    text-decoration: none;
}

.tabs li a:hover {
    color: var(--color);
}

.tabs .active-tab a {
    color: var(--color);
}

.bar i {
    margin-left: 10px;
}

.bar {
    display: none;

}

/* /////////////////////// LOADING Screen  /////////////// */

.welcome {
    width: 100%;
    height: 100vh;
    background-color: rgb(16, 16, 17);
    position: fixed;
    top: 0;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.welcome.hidden {
    opacity: 0;
    pointer-events: none;
}

.welcome.animate-loader {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ///////////// loading //////////////*/
.welcome .loading {
    width: 180px;
    height: 80px;
    position: relative;
}

/* .loading p */
.welcome .loading p {
    top: 0;
    padding: 0;
    margin: 0;
    color: var(--color);
    font-family: "Oxygen", sans-serif;
    animation: text 3.5s ease both infinite;
    font-size: 14px;
    letter-spacing: 1px;
}

/* .loading p keyframes */
@keyframes text {
    0% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }

    40% {
        letter-spacing: 2px;
        transform: translateX(26px);
    }

    80% {
        letter-spacing: 1px;
        transform: translateX(32px);
    }

    90% {
        letter-spacing: 2px;
        transform: translateX(0px);
    }

    100% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }
}

/* .loading span */
.welcome .loading span {
    background-color: var(--white);
    border-radius: 50px;
    display: block;
    height: 20px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading 3.5s ease both infinite;
}

/* .loading span :before */
.welcome .loading span:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--color);
    border-radius: inherit;
    animation: loading2 3.5s ease both infinite;
}

/* .loading span keyframes */
@keyframes loading {
    0% {
        width: 16px;
        transform: translateX(0px);
    }

    40% {
        width: 100%;
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        transform: translateX(64px);
    }

    90% {
        width: 100%;
        transform: translateX(0px);
    }

    100% {
        width: 16px;
        transform: translateX(0px);
    }
}

/* .loading span :before keyframes */
@keyframes loading2 {
    0% {
        transform: translateX(0px);
        width: 16px;
    }

    40% {
        transform: translateX(0%);
        width: 80%;
    }

    80% {
        width: 100%;
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0px);
        width: 16px;
    }
}



/* ///////////////////////// Home ///////////////////////////*/

.home,
.about,
.faq,
.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;

}

.content {
    width: 30%;

}

.content p {
    color: rgb(190, 187, 187);
}

.content button {
    width: 30%;
}

.home-img {
    width: 50%;
    height: 65%;
    box-shadow: var(--box-shadow);
    filter: var(--img);
}

/* //////////////////////// About ////////////////////// */

.about {
    justify-content: flex-start;
    border: 5px solid rgb(232, 238, 241);
    height: 100vh;

}

.about .content {
    height: 70%;
    margin-top: 15%;
}

.about span {
    color: var(--color);

}

.about-img {
    width: 65%;
    height: 75%;
    filter: var(--img2)
}

.about button {
    width: 10em;
    padding: .8em 0;
}

/* ////////////////////////////////// DEMO PROJECTS / PORTFOLIO ///////////////////// */

.demo-box {
    border-top: 1px solid lightgray;
    min-height: 100vh;
    max-height: auto;
    text-align: center;
    padding-top: 1em;
}

.demo-box h1 span {
    color: var(--color);
}

.demosGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
    gap: 1em;

}

.demo {
    position: relative;
    border: 2px solid var(--color);
    height: 16em;
    width: 22em;
    cursor: url('./images/cursor.png'), crosshair;

}

.image {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000088;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.demo:hover .overlay {
    height: 100%;
}

.overlay h3,
.overlay p,
.overlay a {
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 47%;
    font-size: 1.2em;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    color: var(--title);
    font-size: .9em;
    top: 60%;
    text-transform: capitalize;

}

.overlay a {
    font-size: 1em;
    top: 80%;
    border-radius: 0;
    text-decoration: none;
    text-transform: capitalize;

}


/* //////////////////// REVIEWS ///////////////////////////////// */
.reviews {
    height: 100vh;
}

.reviews h1 {
    text-align: center;
    padding: 1em 0;
}

.reviews span {
    color: var(--color);
}

.carousel-inner {
    background-color: var(--color);
}

.carousel-item {
    height: 70vh !important;

}

.gridDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;

    height: 100%;
    padding-right: 10em;
}

.child1 img {
    height: 270px;
    width: 220px;
    border: 6px solid var(--white);
    outline: 5px outset rgb(255, 255, 255);
    outline-offset: 12px;
}

.child2 {
    background-color: var(--white);
    height: 80%;
    outline: 5px outset rgb(189, 187, 187);
    display: grid;
    grid-template-rows: 100px 1fr 50px 50px;
    padding: 1em;

}

.child2 .icon {
    margin-top: -.3em;
    font-size: 8em;
    font-weight: bolder;
    justify-self: self-start;
}

.child2 .msg {
    color: rgb(103, 101, 101);
    ;
}

.location {
    color: rgb(190, 190, 190);
    margin-top: -.5em;
}

/* /////////////////// Services  ////////////////////////////// */


.services {
    margin-top: 6em;
    min-height: 100vh;
    max-height: auto;
    text-align: center;
    padding-top: 5em;


}

.services p {
    font-size: small;
    color: rgb(160, 159, 159);
}

.para {
    width: 70%;
    margin-left: 15%;
    padding: 1.2em 0;
}

.services span {
    color: var(--color);
}

.cards {

    min-height: 40%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    gap: 1em;
    justify-items: center;
}

.card {
    width: 200px;
    height: 200px;
    padding: 1em;
    box-shadow: var(--box-shadow);
    margin-top: 1em;
}

.icon {
    color: var(--color);
    height: 40%;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    background-color: var(--light-color);
    box-shadow: none;

}

/* //////////////////////// Team /////////////////////*/
.t-head {
    text-align: center;
    margin-top: 1em;

}

.t-head span {
    color: var(--color);
}

.team {
    background-color: var(--color);
    height: 70vh;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    /* position: relative; */
}

.t-card-container {
    width: max-content;
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    gap: 3em;
    animation: scroll 20s linear infinite;
}

.t-card-container:hover {
    animation-play-state: paused;
}

.t-card {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--white)smoke;
}

@keyframes scroll {
    0% {
        transform: translateX(90%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.team img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    padding: 10px;
    border: 5px solid var(--white);
    outline: 2px solid rgb(228, 157, 250);
}



.data {
    width: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    color: var(--color);
}

.team .name {
    font-size: 1.5em;
    font-family: fantasy;
    margin: 0;
}

.team .para {
    font-size: small;
    margin: 0;
    text-align: center;
}

/* ////////////////////////////// FAQs ////////////////////////// */
.faq {
    margin-top: 1.5em;

}

.faq span {
    color: var(--color);
    font-size: 1.6em;
}

.q1 {
    width: 50%;
}

.q2 {

    display: flex;
    align-items: center;
    margin-top: 1em;
    flex-wrap: wrap;

}

.ques {
    border-radius: 20px;
    padding: 10px 0 10px 25px;
    color: var(--color);
    width: 90%;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.ques:hover {
    background-color: var(--light-color);
    box-shadow: none;

}

.q2 img {
    width: 35px;
    filter: var(--img3)
}

.ans {
    padding: 0;
    margin-top: 0;
    max-height: 0;
    overflow: hidden;
    background: var(--color);
    color: rgba(255, 255, 255, 0.867);
    transition: max-height 0.3s ease-in-out;
    border-radius: 20px;
}

.ans.active {
    max-height: 1000px;
    /* Adjust this value as needed to match the expected maximum height of your answers */
    margin-top: 1em;
    padding: 1em;

}

/* ////////////////////////  BLOG ///////////////////////////////// */


.blog {
    border-top: 1px solid lightgray;
    min-height: 100vh;
    max-height: auto;
    text-align: center;
    padding-top: 1em;
}

.blog h1 span {
    color: var(--color);
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
    gap: 1.5em;
    width: 100%;
    justify-content: center;
    padding: 1em 4em;
}

.box-container .box {
    border: 2px solid var(--color);
    border-radius: .5em;
    box-shadow: .5em .5em 0 rgba(41, 4, 2, .2);
    padding: 1em;

}

.box-container .box .image {
    height: 14em;
    overflow: hidden;
    border-radius: .5rem;
}

.box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-container .box:hover .image img {
    transform: scale(1.2);
}

.box .content {
    padding-top: 1rem;
    width: 100%;

}

.box .icon {
    padding: .2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon a {
    font-size: 14px;
    color: #7e7979;
    text-decoration: none;
}

.icon a:hover {
    color: var(--color);
}


.icon a i {
    padding-right: .5rem;
    color: var(--color);
}

.box .content h3 {
    color: #444;
    font-size: 1.9em;
    text-transform: capitalize;
    font-weight: bold;

}

.box-container .box .content p {
    color: #635a5a;
    font-size: 1em;
    line-height: 1.8;
    text-align: start;
}

.btn {
    width: 60%;
    border: 2px solid var(--color);
    border-radius: .5em;
    box-shadow: .5em .5em 0 rgba(41, 4, 2, .2);
    color: var(--color);
    cursor: pointer;
    background: var(--white);
}

.btn span {
    padding: .4em 1em;
    border-radius: .5rem;
    background-color: var(--color);
    color: var(--white);

}

.btn:hover {
    color: var(--white);
    background-color: var(--color);
}

.btn:hover span {
    color: var(--color);
    background-color: var(--white);
    margin-left: 1em;
}


/* //////////////////////// Contact ////////////////////// */

.contact {
    margin-top: 2em;
    justify-content: center;
    background-color: var(--color);

}

.form {

    min-height: 60%;
    max-height: auto;
    width: 60%;
    background-color: var(--white);
    border: 5px outset rgb(233, 191, 233);

}

.form h1 {
    text-align: center;
}

form {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
    gap: 2.5em;
}

input,
textarea {
    border: none;
    outline: none;
    width: 96%;
    padding: 10px 0 10px 25px;
    box-shadow: var(--box-shadow);
    color: var(--color);
}

.btnSubmit {
    padding: 10px 0 10px 0;
    font-size: 1em;
    margin: 1em 0;
}

/* modal */
.modal {
    align-items: center;
    justify-content: center;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

}

.modal-content,
.modal-content-about {
    position: relative;
    background-color: var(--white);
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal-content-about {
    height: 80vh;
    overflow: auto;
    width: 70%;
}

.justify {
    text-align: justify;

}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    font-size: x-large;
}

.close:hover {
    color: var(--color);

}


/* Footer */


.footer {
    margin-top: 1.5em;
    position: static;
    font-family: sans-serif;
    flex-direction: column;
}

.signup {
    text-align: center;
    border: 1px solid lightgray;
    width: 90%;
    padding: 1em;
}

.signup h1 {
    word-spacing: 10px;
    color: black;
}

.s-input {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 40em;
    padding: 1em;
    margin: auto;
    background: var(--light-color);

}

.s-input button {
    border-radius: 0;
    width: 90%;
}

.social-links {
    padding: .5em;
    width: 400px;
    font-size: large;
    display: flex;
    justify-content: space-evenly;
}

.social-links a {
    border-radius: 50%;
    box-shadow: inset 5px 5px 12px rgb(185, 183, 183), 5px 5px 12px rgba(0, 0, 0, .16);
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links a:hover {
    background-color: var(--light-color);
    box-shadow: none;


}

.footer span {
    color: var(--color);
}


/* Media Quries */
@media (max-width : 1115px) {
    .about .content {
        width: 55%;
    }

    .about-img {
        width: 60%;
    }

    .tabs {
        width: 75%;
    }


}

@media (max-width : 1000px) {

    .content {
        width: 45%;
    }

    .home-img {
        width: 40%;
    }

    .about-img {
        width: 60%;
    }

    .demosGrid {
        padding: 1em;
        justify-items: center;

    }



    .btn1 {
        width: 7em;
    }
}

@media (max-width : 880px) {
    .tabs {
        display: none;
    }


    .header {
        justify-content: space-between;
        padding: 0 6em;

    }


    /* Menue styling starts */
    .bar {
        display: block;
    }

    .bar i {
        font-size: 2em;
        cursor: pointer;
    }

    .menue {
        position: fixed;
        top: 3.8em;
        right: 0;
        width: 100vw;
        text-align: center;
        background-color: var(--white);
        padding: 1em 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        display: none;
        border-top: 1px solid rgba(211, 211, 211, 0.835);
    }


    .menue a {
        color: rgb(6, 6, 7);
        letter-spacing: 2px;
        padding: .4em;
        width: 100%;
        text-decoration: none;
    }

    .menue a:hover {
        background-color: var(--light-color);

    }

    .menue.active {
        display: flex;
    }

    .btn1 {
        width: 8em;
    }

    .cd {
        display: flex;
        justify-content: space-around;

    }

    .card {
        margin: 1em 0;
    }

    .home,
    .services,
    .faq {
        flex-direction: column;
        height: max-content;

    }

    .about {
        flex-direction: column-reverse;
    }

    .home {
        padding-top: 120px;
    }

    .content,
    .home-img,
    .about .content,
    .about-img {
        width: 80%;
        text-align: center;
    }

    @keyframes scroll {
        0% {
            transform: translateX(40%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    .modal-content {
        width: 80%;
    }

    .about button {
        width: 8em;
        padding: .6em 0;
    }


    .carousel-item {
        height: 100vh !important;


    }

    .gridDiv {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 180px 1fr;
        place-items: center;
        padding-right: 0;
    }

    .child1 {
        -webkit-box-reflect: right 2px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(70, 68, 68, 0.4));
    }

    .child1 img {
        height: 170px;
        width: 150px;
        outline-offset: .4em;
        margin-top: 2em;
        -webkit-box-reflect: left 2px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(70, 68, 68, 0.4));

    }

    .child2 {
        height: 80%;
        width: 90%;

    }

    .q1 {
        width: 86vw;
    }

    .box-container {
        justify-items: center;
    }

    .box {
        width: 25em;
    }

    .signup {
        padding: 1.5em;
        width: 90%;
    }

    .signup h1 {
        font-size: 2em;
        word-spacing: 6px;
    }

    .signup p {
        font-size: .8em;
    }

    .s-input {
        width: 30em;
    }

}

@media (max-width : 580px) {
    .header {
        padding: 0 1.5em;

    }

    .bar i {
        font-size: 1.5em;
    }

    .q1 {
        width: 96vw;
    }

    .form {
        width: 96%;
    }

    .footer h3 {
        font-size: small;
    }

    .social-links a {
        height: 1.6em;
        width: 1.6em;
    }

    .social-links i {
        font-size: small;
    }

    .modal-content-about {
        height: 86vh;
        width: 90%;
    }


    .signup {
        padding: 1em;
        width: 90%;
    }

    .signup h1 {
        font-size: 1.5em;
        word-spacing: 4px;
    }

    .signup p {
        font-size: .7em;
    }

    .s-input {
        width: 26em;
    }

    .s-input button {
        width: 100%;
    }

}

@media (max-width : 490px) {
    .modal-content {
        font-size: small;
    }

    .social-links {
        width: 300px;
    }

    .about button {
        width: 7em;
        padding: .6em 0;
    }

    .box-container {
        padding: .5em;
    }

    .box {
        width: 94%;
    }

    .signup {
        width: 90%;
    }

    .signup h1 {
        font-size: 1.4em;
        word-spacing: 2px;
    }

    .signup p {
        font-size: .6em;
    }

    .s-input {
        width: 18em;
        grid-template-columns: 1fr;
        gap: 1em;
        justify-items: center;
    }

    .s-input input {
        width: 90%;
    }

    .s-input button {
        width: 50%;
    }

    .demo {
        width: 20em;
    }

    .overlay h3 {
        font-size: 1.1em;
    }

}

@media (max-width : 390px) {
    .s-input {

        margin-left: -1.2em;
    }

    .box-container {
        padding: .1em;
    }

    .box {
        width: 78%;
    }

    .box-container .content h3 {
        font-size: 1.4em;

    }

    .box-container .content p {
        font-size: .6em;

    }

    .demo {
        width: 16em;
    }

    .overlay h3 {
        font-size: .9em;
        left: 45%;
    }

}