* {
    transition: .2s linear;
    scroll-behavior: smooth;
    text-decoration: none;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: .2s linear ease;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: fantasy;
}

.btn1 {
    width: 10em;
    background-color: blueviolet;
    border: none;
    outline: none;
    color: aliceblue;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;

}

.btn1:hover {
    background-color: rgb(94, 15, 168);
    box-shadow: inset 5px 5px 12px rgba(130, 75, 196, 0.438), 5px 5px 12px rgba(0, 0, 0, .16);

}

.btn2 {
    border: 1px solid rgba(137, 43, 226, 0.5);
    outline: none;
    color: blueviolet;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    background-color: transparent;


}

.btn2:hover {
    border: none;
    box-shadow: inset 5px 5px 12px white, 5px 5px 12px rgba(0, 0, 0, .16);

}

/* /////////////////////////////////////// Header */
.header,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 5px 12px white, 5px 5px 12px rgba(0, 0, 0, .16);
    font-family: fantasy;
    width: 100vw;
    position: fixed;
    background-color: white;
    z-index: 1;
}

.header li {
    list-style-type: none;
    cursor: pointer;
}

.header li:hover {
    border-bottom: 1px solid blueviolet;
    padding-bottom: 2px;
}

.logo {
    width: 20%;
}

.logo span {
    color: blueviolet;
    font-size: 2em;
}

.tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55%;
}

.bar i {
    margin-left: 10px;
}

.bar {
    display: none;

}

/* Home */

.home,
.about,
.faq,
.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;

}

.content {
    width: 30%;

}

.content p {
    color: rgb(190, 187, 187);
}

.content button {
    width: 30%;
}

.home-img {
    width: 50%;
    height: 65%;
    box-shadow: inset 5px 5px 12px white, 5px 5px 12px rgba(0, 0, 0, .16);
}

/* //////////////////////// About ////////////////////// */

.about {
    justify-content: flex-start;
    border: 5px solid rgb(232, 238, 241);
    height: 100vh;

}

.about .content {
    height: 70%;
    margin-top: 15%;
}

.about span {
    color: blueviolet;

}

.about-img {
    width: 65%;
    height: 75%;
}

.about button {
    width: 10em;
    padding: .8em 0;
}

/* //////////////////// REVIEWS ///////////////////////////////// */
.reviews {
    height: 100vh;
}

.reviews h1 {
    text-align: center;
    padding: 1em 0;
}

.reviews span {
    color: blueviolet;
}

.carousel-inner {
    background-color: blueviolet;
}

.carousel-item {
    height: 70vh !important;

}

.gridDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;

    height: 100%;
    padding-right: 10em;
}

.child1 img {
    height: 270px;
    width: 220px;
    border: 6px solid white;
    outline: 5px outset rgb(255, 255, 255);
    outline-offset: 12px;
}

.child2 {
    background-color: white;
    height: 80%;
    outline: 5px outset rgb(189, 187, 187);
    display: grid;
    grid-template-rows: 100px 1fr 50px 50px;
    padding: 1em;

}

.child2 .icon {
    margin-top: -.3em;
    font-size: 8em;
    font-weight: bolder;
    justify-self: self-start;
}

.child2 .msg {
    color: rgb(103, 101, 101);
    ;
}

.location {
    color: rgb(190, 190, 190);
    margin-top: -.5em;
}

/* /////////////////// Services  ////////////////////////////// */


.services {
    margin-top: 6em;
    height: 100vh;
    text-align: center;
    padding-top: 5em;


}

.services p {
    font-size: small;
    color: rgb(160, 159, 159);
}

.para {
    width: 70%;
    margin-left: 15%;
    padding: 1.2em 0;
}

.services span {
    color: blueviolet;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 40%;
}

.card {
    width: 180px;
    height: 180px;
    padding: 1em .5em;
    box-shadow: inset 5px 5px 12px white, 5px 5px 12px rgba(0, 0, 0, .16);
}

.icon {
    color: blueviolet;
    height: 40%;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    background-color: rgba(137, 43, 226, 0.233);
    box-shadow: none;

}

/* //////////////////////// Team /////////////////////*/
.t-head {
    text-align: center;
    margin-top: 1em;

}

.t-head span {
    color: blueviolet;
}

.team {
    background-color: blueviolet;
    height: 70vh;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    /* position: relative; */
}

.t-card-container {
    width: max-content;
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    gap: 3em;
    animation: scroll 20s linear infinite;
}

.t-card-container:hover {
    animation-play-state: paused;
}

.t-card {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
}

@keyframes scroll {
    0% {
        transform: translateX(90%);
        /* Start off-screen to the right */
    }

    100% {
        transform: translateX(-100%);
        /* Move off-screen to the left */
    }
}

.team img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    padding: 10px;
    border: 5px solid white;
    outline: 2px solid rgb(228, 157, 250);
}



.data {
    width: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: blueviolet;
}

.team .name {
    font-size: 1.5em;
    font-family: fantasy;
    margin: 0;
}

.team .para {
    font-size: small;
    margin: 0;
    text-align: center;
}

/* ////////////////////////////// FAQs ////////////////////////// */
.faq {
    margin-top: 1.5em;

}

.faq span {
    color: blueviolet;
    font-size: 1.6em;
}

.q1 {
    width: 50%;

}

.q2 {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.ques {
    border-radius: 20px;
    padding: 10px 0 10px 25px;
    color: blueviolet;
    width: 90%;
    cursor: pointer;
    box-shadow: inset 5px 5px 12px white, 5px 5px 12px rgba(0, 0, 0, .16);
}

.ques:hover {
    background-color: rgba(137, 43, 226, 0.233);
    box-shadow: none;

}

.q2 img {
    width: 35px;
}


/* //////////////////////// Contact ////////////////////// */

.contact {
    margin-top: 2em;
    justify-content: center;
    background-color: blueviolet;

}

.form {

    min-height: 60%;
    max-height: auto;
    width: 60%;
    background-color: white;
    border: 5px outset rgb(233, 191, 233);

}

.form h1 {
    /* color: rgb(56, 6, 102); */
    text-align: center;
}

form {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
    gap: 2.5em;
}

input,
textarea {
    border: none;
    outline: none;
    width: 96%;
    padding: 10px 0 10px 25px;
    box-shadow: inset 5px 5px 12px white, 5px 5px 12px rgba(0, 0, 0, .16);
    color: blueviolet;
}

.btn {
    padding: 10px 0 10px 0;
    font-size: 1em;
    margin: 1em 0;
}

/* modal */
.modal {
    align-items: center;
    justify-content: center;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

}

.modal-content,
.modal-content-about {
    position: relative;
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal-content-about {
    height: 80vh;
    overflow: auto;
    width: 70%;
}

.justify {
    text-align: justify;

}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    font-size: x-large;
}

.close:hover {
    color: blueviolet;

}


/* Footer */


.footer {
    margin-top: 1.5em;
    position: static;
    font-family: sans-serif;
    flex-direction: column;
}

.social-links {
    padding: .5em;
    width: 400px;
    font-size: large;
    display: flex;
    justify-content: space-evenly;
}

.social-links a {
    border-radius: 50%;
    box-shadow: inset 5px 5px 12px rgb(185, 183, 183), 5px 5px 12px rgba(0, 0, 0, .16);
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
}

.social-links a:hover {
    background-color: rgba(137, 43, 226, 0.233);
    box-shadow: none;


}

.footer span {
    color: blueviolet;
}


/* Media Quries */

@media (max-width : 1000px) {

    .content {
        width: 45%;
    }

    .home-img {
        width: 40%;
    }

    .about-img {
        width: 60%;
    }

    .btn1 {
        width: 7em;
    }
}

@media (max-width : 880px) {

    .header{
        justify-content: space-around;

    }
    .btn1 {
        width: 8em;
    }

    .tabs {
        display: none;
    }


    /* Menue styling starts */
    .bar {
        display: block;
        position: relative;
    }

    .bar i {
        font-size: 1.5em;
        cursor: pointer;
    }

    .menue {
        position: absolute;
        top: 3.5em;
        right: .5em;
        width: 180px;
        box-shadow: inset 5px 5px 12px white, 5px 5px 12px rgba(0, 0, 0, .16);
        text-align: center;
        background-color: white;
        padding: 1em 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        display: none;
    }


    .menue a {
        color: rgb(6, 6, 7);
        letter-spacing: 2px;
        padding: .4em;
        width: 100%;
        text-decoration: none;
    }

    .menue a:hover {
        background-color: rgba(137, 43, 226, 0.233);

    }

    .menue.active {
        display: flex;
    }

    /* Menue styling end */
    .cd {
        display: flex;
        justify-content: space-around;

    }

    .card {
        margin: 1em 0;
    }

    .home,
    .cards,
    .services,
    /* .team, */
    .faq {
        flex-direction: column;
        height: max-content;

    }

    .about {
        flex-direction: column-reverse;
    }

    .home {
        padding-top: 120px;
    }

    .content,
    .home-img,
    .about .content,
    .about-img {
        width: 80%;
        text-align: center;
    }

    @keyframes scroll {
        0% {
            transform: translateX(40%);
            /* Start off-screen to the right */
        }

        100% {
            transform: translateX(-100%);
            /* Move off-screen to the left */
        }
    }

    .modal-content {
        width: 80%;
    }

    .about button {
        width: 8em;
        padding: .6em 0;
    }


    .carousel-item {
        height: 100vh !important;


    }

    .gridDiv {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 180px 1fr;
        place-items: center;
        padding-right: 0;
    }

    .child1 img {
        height: 170px;
        width: 150px;
        outline-offset: .4em;
        margin-top: 2em;
    }

    .child2 {
        height: 80%;
        width: 90%;

    }

    .q1 {
        width: 86vw;
    }
}

@media (max-width : 580px) {
    .header{
        justify-content: space-between;
        padding: 0 1.5em;

    }

    .cd {
        flex-direction: column;
        align-items: center;
    }

    .q1 {
        width: 96vw;
    }

    .form {
        width: 96%;
    }

    .footer h3 {
        font-size: small;
    }

    .social-links a {
        height: 1.6em;
        width: 1.6em;
    }

    .social-links i {
        font-size: small;
    }

    .modal-content-about {
        height: 86vh;
        width: 90%;
    }

}

@media (max-width : 450px) {
    .modal-content {
        font-size: small;
    }

    .social-links {
        width: 300px;
    }

    .about button {
        width: 7em;
        padding: .6em 0;
    }

}