body{
  background-color: black;

}
.parent {
  margin-left : 10%;
}
.tube{
  width: 85%;
  border: 1px solid white;
  padding: 5px 0 5px 20px;
  color: white;
  border-radius: 10px;
}
.t0{
  background: #963861;
}
.t1{
  background: #964051;
}
.t2{
  background: #863248;
}
.t3 {
  background: #863248;
}
.t4 {
  background: #863248;
}
.t5 {
  background: #863248;
}
.t6 {
  background: #863248;
}
.t7{
  background: #863248;
}
.t8 {
  background: #863248;
}
.t9 {
  background: #863248;
}

.tn{
  background-color: orange;
}